<!DOCTYPE html>
<html lang="ru">
  <head>
    <!--meta одиночный,-->
	<!--сообщает браузеру, поисковому роботу или другому устройству различную служебную информацию --> 
	<!--charset указывается кодировка текста HTML-страницы:-->
    <meta charset="utf-8">
	<!--keywords. Ключевые слова
	(самые важные слова из содержания страницы) перечисляются в атрибуте content через запятую-->
	<meta name="keywords" content="вёрстка, HTML, CSS, обучение">
	<!--description- Краткое описание страницы задаётся похожим образом,  description-->
    <meta name="description" content="сайт на котором учусь ">
    <!--заголовок  отображается на сайте Текст в <title> должен описывать содержимое документа в целом-->
    <title>сайт Анюськи</title>
     <!--стили для прототипирования link   атрибут href задаётся адрес стилевого файла, а атрибут rel со значением stylesheet говорит браузеру, что мы подключаем именно стили -->
    <link rel="stylesheet" href="outlines.css">
    
 
  </head>
  <body>
  
    <header>
    <!--header на всех страничках -->
    <h1> 
	Я рисую как могу )))
	</h1>
    </header>
  
  
   <main> 
     <nav> 
     <!--nav логический раздел с основной навигацией-->
     Навигация
     </nav>
     <section>
     <!--section  раздел -->
      <p>
      <!--<p> разбивка на абзацы параграфы-->
     Всем привет!  
	  </p> 
     <p>
     Добро пожаловать на мой первый сайт.
     
     </p>
     
     <p>
<img src="https://media.istockphoto.com/photos/water-bottle-in-womans-hand-picture-id531414411?s=612x612" width='200' height='200' alt="бутілка">
</p>
     
     <p>
     <em> Одна и та же </em> <b>
     бутылочка воды </b>в <i>супермаркете </i>стоит 20 центов, в спортзале 50 центов, в <i>баре</i> 1 евро, в <i>самолёте</i> 3 евро. 
	 Всё зависит от места, в котором в ней нуждаются.
     <hr> <b><em>Поэтому, когда вам кажется, что вы ничего не стоите и никуда не годитесь, значит, вы находитесь не в том месте</b> </em>П
     </p>
     </section> 
     <section>
     <!--section еще один  раздел -->
      тут напишем о скилах.
     </section> 
	 <aside> 
       <!--Тег <aside> включает в себя дополнительное содержание, не связанное напрямую с основным-->
      Здесь могла быть ваша реклама
      </aside>
   </main>
   <footer>
   <!--footer на всех страничках -->
   Подвал сайта.
   </footer>
  </body>
</html>