<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
		<title>MaLyK Test Page</title>
		<link rel="shortcut icon" href="icon.png" type="image/png">
</head>
<!-- Заголовок для теста -->
<body>
	<h1> Welcome to the Malyk's Test Page </h1>
	<p><big>
		Вставка простого изображения:
	</big></p>
	<p><img src="welcome.jpg" width="174" height="290"></p>
	<form>
	<center><font size=4>Различные элементы страницы</font></center>
	<hr color="blue">
	<h2>Элементы INPUT</h2>
	<h4> Ввод текстовой строки </h4>
		<input type="text" size=50>
		<hr color="green">
	<h3> Ввод пароля </h3>
		<input type="password">
		<hr color="green">
	<h3> Флажки </h3>
		<p> First </p>
		<input type="checkbox" name="First type" checked>
		<p> Second </p>
		<input type="checkbox" name="Second type" checked>
		<hr color="green">
	<h3> Переключатели </h3>
		<p> First </p>
		<input type="radio" name="S001" value="01">Первый
		<p> Second </p>
		<input type="radio" name="S001" value="02">Второй
		<p> Third </p>
		<input type="radio" name="S001" value="03" checked>Третий
		<hr color="green">
	<h3> Кнопка подтверждения ввода </h3>
		<input type="submit" value="Подтверждение">
		<hr color="green">
	<h3> Кнопка с изображением </h3>
		<input type="image" src="button.png">
		<hr color="green">
	<h3> Кнопка очистки формы </h3>
		<input type="reset" value="Очистка">
		<hr color="green">
	<h3> Выбрать Файл </h3>
		<input type="file" name="photo" accept="image/*">
		<hr color="green">
	<h2>Элемент SELECT</h2>
		<select multiple size="2">
			<option value=а>Первый
			<option value=Ь>Второй
			<option value=с>Третий
			<option value=d>Четвертый
		</select>
		<hr color="green">
	<h2>Элемент TEXTAREA</h2>
		<textarea rows=7 cols=20>
			Область для ввода текста
		</textarea>
		<hr color="green">
	</form>
		<h2> Таблица </h2>
		<table  border="6">
			<tbody>
				<tr>
				  <td>User 1</td>
				  <td>User 2</td>
				  <td>User 3</td>
				</tr>
				<tr>
				  <td> _ </td>
				  <td> _ </td>
				  <td> _ </td>
				</tr>
				<tr>
				  <td>User 4</td>
				  <td>User 5</td>
				  <td>User 6</td>
				</tr>
				<tr>
				  <td> _ </td>
				  <td> _ </td>
				  <td> _ </td>
				</tr>
				<tr>
				  <td>User 7</td>
				  <td>User 8</td>
				  <td>User 9</td>
				</tr>
			</tbody>
		</table>
		<hr color="lime">
		<p>
			<a href="Page_1.html">
			Этот текст</a> является ссылкой на предыдущую страницу html.
		</p>
		<p>
			<a href="http://www.youtube.com/">
		А этот текст</a> приведет вас на Youtube.
		</p>
		<p>
		Вы можете сделать изображение ссылкой:
			<a href="https://telesens-academy.com">
			<img border="0" src="telesens.png">
			</a>
		</p>
			<a href="Page_1.html" target="_blank">К предыдущей странице html</a>
		<p>
		Если вы укажете атрибуту target значение "_blank", ссылка откроется в новом окне браузера.
		</p>
		<p>
		Это ссылка на отправку почты:
			<a href="mailto:ffun390@gmail.com?subject=Привет%20тебе">
		Отправить письмо!</a>
		</p>
		<p>
			<b>Внимание:</b> Пробелы между словами должны быть заменены знаком «%20» , чтобы вы были <b>уверены</b>, что браузер будет правильно отображать ваш текст.
		</p>
		<hr color="orange">
		<h3> Списки! </h3>
		<h4>Неупорядоченный список:</h4>
		<ul>
		<li>DevTools</li>
		<li>QA Core</li>
		<li>QA Junior</li>
		</ul>
		<h4>Упорядоченный список:</h4>
		<ol>
		<li>DevTools</li>
		<li>QA Core</li>
		<li>QA Junior</li>
		</ol>
		<h4>Значки списка в виде черного круга:</h4>
		<ul type="disc">
		<li>DevTools</li>
		<li>QA Core</li>
		<li>QA Junior</li>
		</ul>
		<h4>Значки списка в виде круга</h4>
		<ul type="circle">
		<li>DevTools</li>
		<li>QA Core</li>
		<li>QA Junior</li>
		</ul>
		<h4>Вложенный список:</h4>
		<ul>
		<li>DevTools</li>
		<li>QA 
		<ul>
		<li>QA Core</li>
		<li>QA Junior</li>
		</ul>
		</li>
		<li>Business</li>
		</ul>
		<hr color="purple">
</body>