<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>Hello there!!</title>
</head>
<!-- Просто пробую как это работает) Тестовый коммент для ДевТулз-123-124 -->
<body>
<h1> HeLLo TherE!!! </h1>
<table>
  <tbody>
    <tr>
      <td>User 1</td>
      <td>User 2</td>
      <td>User 3</td>
    </tr>
    <tr>
      <td> _ </td>
      <td> _ </td>
      <td> _ </td>
    </tr>
    <tr>
      <td>User 4</td>
      <td>User 5</td>
      <td>User 6</td>
    </tr>
    <tr>
      <td> _ </td>
      <td> _ </td>
      <td> _ </td>
    </tr>
    <tr>
      <td>User 7</td>
      <td>User 8</td>
      <td>User 9</td>
    </tr>
 <tr>
      <td> _ </td>
      <td> _ </td>
      <td> _ </td>
    </tr>
    <tr>
      <td> _ </td>
      <td> _ </td>
      <td> _ </td>
    </tr>
    <tr>
      <td> _ </td>
      <td> _ </td>
      <td> _ </td>
    </tr>
  </tbody>
</table>

<h1> НЕ РАБОТАЕМ В МАСТЕР ВЕТКЕ !!!!!! </h1>
<p>
4 - работаем (создаем файлы, изменяем, удаляем ...)
5 - git status
показывает состояние в репозитории (есть ли новые/измененные файлы, в какой ветке, надо коммитить или нет и т.д. ) 
КАК МОЖНО ЧАЩЕ ИСПОЛЬЗУЙТЕ ЭТУ КОМАНДУ !!!!!
ГИТ вам подскажет что нужно сделать
5 - git add .
добавляем файл(ы) в "отслеживание". ГИТ начинает следить за изменениями в этом файле
6 - git commit -m "обязательное сообщение о том что вы делали"
сохраняем(фиксируем) изменения в ЛОКАЛЬНЫЙ репозиторий
дальше можно опять работать....(повторяем пункты 4,5,6 ... сколько угодно раз)
7 - git push origin _ваша ветка_
например
git push origin billi
</p>
<ol> Another Title
 	<li> 1-st work </li>
	<li> 2-nd work </li>
</ol>